streamlit==1.32.0
python-dotenv==1.0.1
groq==0.11.0
beautifulsoup4==4.12.3
requests==2.31.0
scikit-learn>=1.0.0
numpy>=1.21.0
xmltodict==0.13.0
newspaper3k==0.2.8
nltk==3.6.5
lxml[html_clean]>=4.9.3
together==1.2.12
PyGithub==1.59.0
